
@media (min-width: 768px) {
    nav .nav-tog {
        display: none;
    }

    @media (max-width: 768px) {
        header .contianer nav ul li a {
            border-bottom: 2px solid #ccc;
        }
    }

    @media (max-width: 768px) {
        header .contianer .social {
            display: none;
        }
    }}


    @media (min-width: 992px) and (max-width: 1199px) {
        .contianer {
            width: 970px;
        }
    }
    /* extra large */
    @media (min-width: 1200px) {
        .contianer {
            width: 1100px;
        }
    }


    @media (min-width: 787px) and (max-width: 991px) {
        .contianer {
            width: 750px;
        }
        header .contianer nav ul {
            display: none;
        }
        header .contianer nav {
            justify-content: end;
        }
        .hero .contianer .hero-img img {
            width: 150px;
            height: 150px;
        }
    }





    /* small */
@media (max-width: 786px) {
    .contianer {
        width: 100%;
    }
    header .contianer img {
    }
}